<div class="file-upload" >
  <div class="disabled-overlay" *ngIf="disabled" (click)="disabledOverlayClick()"></div>
  <div class="dragging-field" (click)="draggingFieldClicked()" 
    (drop)="drop($event)" (dragover)="dragOver($event)">
    <input type="file" #fileUploadComponent (change)="openFile($event)"/>
    <svg class="upload-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"/>
    </svg>
    <p>{{greeting}}</p>
  </div>
</div>